# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tasksphere"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="tasksphere"

# JWT Authentication
JWT_SECRET="your-super-secret-jwt-key-change-in-production"
JWT_EXPIRES_IN="1h"

# Server
PORT=3000
APP_PORT_HOST=4000
DB_PORT_HOST=5432

# Node Environment
NODE_ENV="development"